In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
#number of school within the district
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [3]:
#total of student in the district 
student_count = school_data_complete['student_name'].count()
student_count

39170

In [4]:
#total budget
school_budget = school_data_complete['budget'].unique().sum()
school_budget

24649428

In [5]:
#average Math score
math_score_mean = school_data_complete['math_score'].mean()
math_score_mean

78.98537145774827

In [6]:
#average reading score
reading_score_mean = school_data_complete['reading_score'].mean()
reading_score_mean

81.87784018381414

In [7]:
#Percentage of total student who passed Math (70 is the passing grade)
percentage_math_passing = school_data_complete[(school_data_complete['math_score'] >= 70)].count()["student_name"]/student_count * 100
percentage_math_passing

74.9808526933878

In [8]:
#Percentage of total student who passed Reading (70 is the passing grade)
percentage_reading_passing = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()["student_name"]/student_count * 100
percentage_reading_passing

85.80546336482001

In [9]:
#Percentage of total student who passed both Reading and Math (70 is the passing grade)
percentage_both_passing = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].count()["student_name"]/student_count * 100
percentage_both_passing

65.17232575950983

In [10]:
district = pd.DataFrame([{"Total Schools" : school_count , "Total Student": student_count , "Total Budget" : school_budget, "Average Math Score": math_score_mean , "Average Reading Score": reading_score_mean , "% Passing Math": percentage_math_passing, "% Passing reading" : percentage_reading_passing, "% Both Passing": percentage_both_passing}])
district

,Total Schools,Total Student,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing reading,% Both Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [11]:
#school types
school_types = school_data_complete.set_index(['school_name'])["type"]
school_types

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [12]:
#students count per school
per_school_counts = school_data_complete.groupby('school_name')['student_name'].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [13]:
#school budget
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_budget

C:\Users\khoav\AppData\Local\Temp\ipykernel_17264\2896583238.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [14]:
#Budget per student
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

C:\Users\khoav\AppData\Local\Temp\ipykernel_17264\819938022.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [15]:
#percentage passing in math
percentage_school_math = school_data_complete.groupby(['school_name']).apply(lambda x: x[x['math_score'] >= 70 ]['math_score'].count()) / school_data_complete.groupby('school_name')['student_name'].count() * 100
percentage_school_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [16]:
#Percentage passing in reading
percentage_school_reading = school_data_complete.groupby(['school_name']).apply(lambda x: x[x['reading_score'] >= 70 ]['reading_score'].count()) / school_data_complete.groupby('school_name')['student_name'].count() * 100
percentage_school_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
].groupby(['school_name'])['student_name'].count()/ school_data_complete.groupby(['school_name'])['student_name'].count() * 100
passing_math_and_reading.iloc[:,2]

In [104]:
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
display = passing_math_and_reading.groupby(['school_name']).count()["student_name"] / per_school_counts * 100
display

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [69]:
school = pd.DataFrame([{"Passing": passing_math_and_reading, "Passing Math": percentage_school_math }])
school

,Passing,Passing Math
0,school_name Bailey High School 54.642283...,school_name Bailey High School 66.680064...