In [167]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [147]:
#number of school within the district
school_count = school_data_complete['school_name'].nunique()

In [240]:
#total of student in the district 
student_count = school_data_complete['student_name'].count()

In [149]:
#total budget
school_budget = school_data_complete['budget'].unique().sum()

In [150]:
#average Math score
math_score_mean = school_data_complete['math_score'].mean()

In [151]:
#average reading score
reading_score_mean = school_data_complete['reading_score'].mean()

In [152]:
#Percentage of total student who passed Math (70 is the passing grade)
percentage_math_passing = school_data_complete[(school_data_complete['math_score'] >= 70)].count()["student_name"]/student_count * 100

In [153]:
#Percentage of total student who passed Reading (70 is the passing grade)
percentage_reading_passing = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()["student_name"]/student_count * 100

In [154]:
#Percentage of total student who passed both Reading and Math (70 is the passing grade)
percentage_both_passing = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].count()["student_name"]/student_count * 100
percentage_both_passing

65.17232575950983

In [155]:
district = pd.DataFrame([{"Total Schools" : school_count , "Total Student": student_count , "Total Budget" : school_budget, "Average Math Score": math_score_mean , "Average Reading Score": reading_score_mean , "% Passing Math": percentage_math_passing, "% Passing reading" : percentage_reading_passing, "% Both Passing": percentage_both_passing}])
district

,Total Schools,Total Student,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing reading,% Both Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [190]:
#school types
school_types = school_data_complete.set_index(['school_name'])["type"]

In [244]:
#students count per school
per_school_counts = school_data_complete.groupby('school_name')['student_name'].count()

In [191]:
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

In [192]:
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [218]:
percentage_school_math = school_data_complete.groupby(['school_name']).apply(lambda x: x[x['math_score'] >= 70 ]['math_score'].count()) / school_data_complete.groupby('school_name')['student_name'].count() * 100

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [219]:
percentage_school_reading = school_data_complete.groupby(['school_name']).apply(lambda x: x[x['reading_score'] >= 70 ]['reading_score'].count()) / school_data_complete.groupby('school_name')['student_name'].count() * 100

In [260]:
passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
].groupby(['school_name'])['student_name'].count()/ school_data_complete.groupby(['school_name'])['student_name'].count() * 100
passing_math_and_reading

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64